.idea
.mvn

target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/resistance-social-network-0.0.1-SNAPSHOT.jar.original

/src/test

README.md
.gitignore
mvnw
mvnw.cmd
